<div class="container">
  <form class="loginForm" (submit)="login($event)">
    <h1>Entrar</h1>
    <div class="inputBox">
      <label for="username">Usuário:</label>
      <input type="text" name="username" id="username" [(ngModel)]="username" />
    </div>
    <div class="inputBox">
      <label for="password">Senha: </label>
      <input
        type="password"
        name="password"
        id="password"
        [(ngModel)]="password"
      />
    </div>
    <button type="submit">Acessar</button>
  </form>
</div>
