* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(226, 226, 226);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input,
label {
  display: block;
  width: 100%;
}

input {
  padding: 8px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 8px;
  margin: 10px 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;

  transition: opacity 0.3s;
  &:hover {
    opacity: 0.5;
  }
}
